*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  color: #F9F9F9;
}

.page {
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}

body{
  background: rgb(68,89,107);
  background: linear-gradient(180deg, rgba(68,89,107,1) 0%, rgba(141,141,141,1) 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img{
  width: 225px;
  transition: all 200ms ease-in-out;
}

nav{
  display: flex;
  gap: 40px;
  transition: transform 200ms;
}

nav img:hover {
  transform: scale(1.2);
}

header nav img{
  width: 40px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 100px 30px;
  font-size: 18px;
  line-height: 35px;
}

main a{
  text-decoration: none;
}

main a:hover{
  text-shadow: 0px 0px 23px #F9F9F9;
  font-weight: bold;
}

h1{
  margin: 40px 0;
}

p{
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 20px;
  border: 1px solid #F9F9F9;
  padding: 25px 35px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(68,89,107,0.7) 0%, rgba(141,141,141,0.7) 100%);
}

b.errada{
  color: #fbff00;
}

b.correta{
  color: rgb(27, 255, 2);
}

a{
  font-size: 18px;
  line-height: 35px;
}

footer{
  display: flex;
  width: 500px;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 15px;
}

footer a{
  text-decoration: none;
  color: #F9F9F9;
}

footer a:hover{
  text-shadow: 0px 0px 23px #F9F9F9;
  font-weight: bold;
}

@media screen and (max-width: 1000px){

  main{
    justify-content: flex-start;
  }
}

hr{
  margin-bottom: 20px;
}

h1{
  text-align: center;
}

#pessoas{
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.pessoa{
  margin: 0 auto;
}

@media screen and (max-width: 700px){
  main{
    justify-content: flex-start;
  }

  header{
    flex-direction: column;
    gap: 10px;
  }

  .imagemLogo{
    scale: 0.7;  
  }

}
