* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  color: #F9F9F9;
}

body {
  background: rgb(68, 89, 107);
  background: linear-gradient(180deg, rgba(68, 89, 107, 1) 0%, rgba(141, 141, 141, 1) 100%);
  min-height: 100vh;
  display: flex;
}

.page {
  width: 1200px;
  margin: auto auto;
  padding-top: 30px;
}

header img {
  width: 225px;
}

.imagem {
  position: absolute;
  max-width: 70px;
  padding: 12px;
  left: 95px;
  top: -40px;
  border: 2px solid #F9F9F9;
  background: linear-gradient(0deg, #52647a 10%, #9db9c1 90%);
  border-radius: 50%;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 10px 0; */
  transition: all 500ms ease-in-out;
}

.quadro {
  width: 260px;
  height: 290px;
  margin: 120px auto;
  padding: 35px 20px 0;
  background: linear-gradient(180deg, rgba(68, 89, 107, 0.7) 0%, rgba(141, 141, 141, 0.7) 100%);
  border: 2px solid #F9F9F9;

  border-radius: 12px;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;

  position: relative;
  box-shadow: 13px 13px 45px -1px rgb(91, 91, 91);
  transition: transform 200ms;

}

.quadro:hover {
  transform: scale(1.1);
  box-shadow: 13px 13px 45px -1px rgb(73, 73, 73);
  background: linear-gradient(180deg, rgba(68, 89, 107, 1) 0%, rgba(141, 141, 141, 1) 100%);
}

.quadro h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.quadro_a {
  text-decoration: none;
}

p {
  /* text-align: center; */
}

footer {
  display: flex;
  width: 500px;
  margin: 0 auto;
  justify-content: space-around;
  padding: 15px 0;
}

footer a {
  text-decoration: none;
  color: #F9F9F9;
}

footer a:hover {
  /* color: #52647a; */
  text-shadow: 0px 0px 23px #F9F9F9;
  font-weight: bold;
}


@media screen and (max-width: 1220px) {

  main {
    height: 210vh;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 50px;
  }

  main .quadro {
    margin: 40px auto;
    min-height: 290px;
  }

  img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}