*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  color: #F9F9F9;
}

.page {
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}

body{
  background: rgb(68,89,107);
  background: linear-gradient(180deg, rgba(68,89,107,1) 0%, rgba(141,141,141,1) 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

header img{
  width: 225px;
  transition: all 200ms ease-in-out;
}

nav{
  display: flex;
  gap: 40px;
  transition: transform 200ms;
}

nav img:hover {
  transform: scale(1.2);
}

header nav img{
  width: 40px;
}

main{
  margin: 25px 30px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

/* main a{
  text-decoration: none;
}

main a:hover{
  text-shadow: 0px 0px 23px #F9F9F9;
} */

h1{
  margin: 40px 0 50px;
  text-align: center;
}

.alternativas {
  margin: 50px 0 40px;
  max-width: 195px;
}

.form-check-label{
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.caixa-opcoes {
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  background: linear-gradient(0deg, rgba(68,89,107,1) 0%, rgba(141,141,141,1) 100%);
  border: 1px solid #F9F9F9;
  border-radius: 5px;
}

.caixa-opcoes:hover{
  background: linear-gradient(0deg, rgb(43, 62, 80) 0%, rgba(141,141,141,1) 100%);
  /* box-shadow: 4px 4px 15px -1px rgb(91, 91, 91); */
}

p{
  font-size: 18px;
  line-height: 30px;
}

.resultado-pergunta {
  /* font-weight: bold; */
  margin-bottom: 10px;
}
.resposta-errada {
  font-style: normal;
  font-weight: bold;
  color: #fbff00;
}
.resposta-correta {
  font-style: normal;
  font-weight: bold;
  color: rgb(27, 255, 2);
}
.linha-separadora {
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.linha-cabecalho {
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

button{
  margin: 0 0 15px;
  height: 40px;
  width: 5.6rem;
  border: 0;
  background: #03833c;
  border-radius: 8px;
  /* border: 1px solid #015a29; */

  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
}

button:hover{
  background: #015a29;
  /* box-shadow: 4px 4px 15px -1px rgb(91, 91, 91); */
}

.qde-perguntas{
  margin: 0 0 30px;
  /* text-align: right; */
}

footer{
  display: flex;
  width: 500px;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 15px;
}

footer a{
  text-decoration: none;
  color: #F9F9F9;
}

footer a:hover{
  /* color: #52647a; */
  text-shadow: 0px 0px 23px #F9F9F9;
  font-weight: bold;
}