*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  color: #F9F9F9;
}

.page {
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}

body{
  background: rgb(68,89,107);
  background: linear-gradient(180deg, rgba(68,89,107,1) 30%, rgba(141,141,141,1) 100%);
  min-height: 100vh;
}

img{
  width: 250px;
}

.line{
  margin: 100px auto 0;
  height: 0px;
  border: 1px solid #F9F9F9;
  background-color: #F9F9F9;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}

.quadro{
  width: 300px;
  margin: 120px auto;
  padding: 10px;
  min-height: 250px;
  border: 2px solid #F9F9F9;

  border-radius: 12px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
}

.quadro h2{
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
  padding-top: 30px;
}

.key {
  max-width: 60px;
  padding: 8px;
  position: absolute;
  left: 340px;
  top: 200px;
  border: 2px solid rgb(169, 172, 192);
  background-color: rgb(169, 172, 192);
  border-radius: 40%;
}

.padlock {
  max-width: 60px;
  padding: 10px;
  position: absolute;
  left: 648px;
  top: 200px;
  border: 2px solid rgb(169, 172, 192);
  background-color: rgb(169, 172, 192);
  border-radius: 40%;

}

.info {
  max-width: 55px;
  padding: 8px;
  position: absolute;
  left: 953px;
  top: 200px;
  border: 2px solid rgb(169, 172, 192);
  background-color: rgb(169, 172, 192);
  border-radius: 40%;
}

footer{
  display: flex;
  width: 500px;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 15px;
}

footer a{
  text-decoration: none;
  color: #F9F9F9;
}
