*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 40px;
}

img{
  width: 250px;
}

main{
  display: flex;
  gap: 25px;
  width: 70%;
  margin: auto;
}

.quadro{
  width: 300px;
  margin: 120px auto;
  padding: 10px;
  min-height: 250px;
  border: 1px solid rgb(191, 191, 191);
  
  font-family: "Roboto", sans-serif;
  border-radius: 12px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
}

.quadro h2{
  font-size: 15px;
  margin: 15px 0;
  padding-top: 30px;
}

.key {
  max-width: 60px;
  padding: 8px;
  position: absolute;
  left: 340px;
  top: 200px;
  border: 2px solid rgb(169, 172, 192);
  background-color: rgb(169, 172, 192);
  border-radius: 40%;
}

.padlock {
  max-width: 60px;
  padding: 10px;
  position: absolute;
  left: 648px;
  top: 200px;
  border: 2px solid rgb(169, 172, 192);
  background-color: rgb(169, 172, 192);
  border-radius: 40%;

}

.info {
  max-width: 55px;
  padding: 8px;
  position: absolute;
  left: 953px;
  top: 200px;
  border: 2px solid rgb(169, 172, 192);
  background-color: rgb(169, 172, 192);
  border-radius: 40%;
}

footer{
  display: flex;
  width: 500px;
  margin: 0 auto;
  justify-content: space-around;
}

footer a{
  text-decoration: none;
  color: black;
}